<launch>

  <!-- ADDED THIS IN TO INCREASE CODE REUSE -->
  <!-- NOW I CAN INCLUDE THIS LAUNCH FILE FROM odom_navigation_demo.launch -->
  <!-- AND JUST PASS IN THE CORRECT ARGUMENTS -->
  <arg name="local_costmap_dir" default="params/map_nav_params/local_costmap_params.yaml"/>
  <arg name="global_costmap_dir" default="params/map_nav_params/global_costmap_params.yaml"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find nu_jackal_autonav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nu_jackal_autonav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nu_jackal_autonav)/$(arg local_costmap_dir)" command="load" />
    <rosparam file="$(find nu_jackal_autonav)/$(arg global_costmap_dir)" command="load" />
    <rosparam file="$(find nu_jackal_autonav)/params/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find nu_jackal_autonav)/params/move_base_params.yaml" command="load" />

    <!-- ALL OF THE GLOBAL PLUGINS I HAVE (choose 1) -->
    <!-- <param name="base_global_planner" type="string" value="navfn/NavfnROS" /> -->
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <!-- <param name="base_global_planner" value="carrot_planner/CarrotPlanner"/> -->

    <!-- ALL OF THE LOCAL PLUGINS I HAVE (choose 1) -->
    <!-- <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/> -->
    <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/> -->
    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/> -->
    <param name="base_local_planner" value="custom_planner/CustomPlanner"/>
    <remap from="odom" to="odometry/corrected" />
  </node>

</launch>
