<launch>

   <!-- <arg name="map_file" default="$(find nu_jackal_autonav)/maps/tutorial_map.yaml"/> -->
   <arg name="map_file" default="$(find nu_jackal_autonav)/maps/D110.yaml"/>

   <!-- MAKING THIS STANDALONE NOW -->
   <!-- a LaserScan topic is required for AMCL -->
   <!-- <include file="$(find nu_jackal_autonav)/launch/pointcloud_to_laserscan.launch" /> -->

   <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" >
    <!-- <rosparam>
      frame_id: odom_corrected #default is "map"
    </rosparam> -->
   </node>

    <!--- Run AMCL -->
   <include file="$(find nu_jackal_autonav)/launch/include/amcl.launch" />

    <!--- Run Move Base -->
   <include file="$(find nu_jackal_autonav)/launch/include/move_base.launch" >
    <remap from="cmd_vel" to="move_base/cmd_vel" />
   </include>

</launch>
