<launch>

  <!-- LaserScan topic required for gmapping -->
  <include file="$(find nu_jackal_autonav)/launch/pointcloud_to_laserscan.launch" />

  <!--- Run gmapping -->
  <include file="$(find nu_jackal_autonav)/launch/include/gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find nu_jackal_autonav)/launch/include/move_base.launch" />

</launch>
