<launch>
  <!-- <arg name="config" default="winter_project"/> -->

  <!-- load URDF with custom jackal configurations -->
  <param name="robot_description" command="$(find xacro)/xacro
              $(find winter_project)/urdf/jackal.urdf.xacro" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- <param name="use_gui" value="true"/> -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- start RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find winter_project)/rviz/model.rviz" />

  <!-- start gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="true" />
    <arg name="use_sim_time" value="true" />
    <arg name="headless" value="false" />
    <arg name="world_name" value="$(find jackal_gazebo)/worlds/jackal_race.world" />
  </include>

  <!-- spawn Jackal -->
   <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model jackal -param robot_description -x 0 -y 0 -z 1.0" />

</launch>
